@import "../../../../scss/index.scss";



.add-user-form{
    text-align: center;

    .form-add{

   

        .ant-form-item{
            margin-top: 5px;
            margin-bottom: 5px;

            i{
                color: $primary-color-light;
            }
            .btn-submit{
                width: 100%;
                background-color: $sahara;
                border-color: transparent;
                color: $white;
                &:hover{
                    border-color: transparent;
                }
            }
        }
    }
}
