
//Colors
$monza: #dc0028;
$primary-color: #263238;
$primary-color-light: #4f5b62;
$primary-color-dark: #000a12;
$secondary-color: #ff8f00;
$secondary-color-light: #ffc046;
$secondary-color-dark: #c56000;

$white: #fff;
$wildsand: #f4f4f4;
$iron: #d6d8d8;
$gray: #919191;
$scorpion: #606060;
$abbey: #555a5f;
$sahara: #abb618;
$black: #000000;

/*Media query*/
// $min-small: 320px; 
// $min-smart-phone: 480px;
// $min-medium: 768px;
// $min-large: 992px;


// Responsive down size
$media-down-xs: 413.98px;
$media-down-sm: 573.98px;
$media-down-md: 767.98px;
$media-down-lg: 991.98px;
$media-down-xl: 1199.98px;

// Responsive up size
$media-up-xs: 320px;
$media-up-sm: 576px;
$media-up-md: 768px;
$media-up-lg: 992px;
$media-up-xl: 1200px;

//font
$roboto: 'Roboto Condensed', sans-serif !important;

//sizes
$defaultFontSize: 16px;